 @import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Prompt:wght@600&family=Red+Hat+Mono:ital@1&display=swap');
 @import "../css/reset.css";
 @import "../css/login.css";

body{ 
background: no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

/*todo css*/
.form-wrapper{
  width: 600px;
  background-color: rgba(252, 245, 245, 0.5);
  padding: 10px 10px;
  margin-left: 20px;
  margin-top: 20px;
  display: inline-block;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
ul,
form{
  padding-bottom: 1px;
  margin-left: 30px ;
}
#todo-form button{
  font-size: 16px;
  font-weight: 700;
  background-color: rgb(129, 209, 236);
  border: 1px solid white;
  border-radius: 30px;
  padding: 8px 30px;
}
#todo-form input{
  width: 400px;
  height: 40px;
  font-size: 18px;
  border: none;
  padding-left: 3px;
  margin-right: 25px;
  background-color: transparent;
  margin-bottom: 10px;
  border-left: 1px solid rgb(0, 0, 0, 0.5);
  border-bottom: 1px solid rgb(0, 0, 0, 0.5);
}
/*Weather styles*/
.weather-wrapper{
  position: absolute;
  width: 600px;
  margin-left: 80px;
  margin-top: 20px;
  background-color: rgba(252, 245, 245, 0.5);
  padding: 13px 10px;
  display: inline-block;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.weather_head_column h3{
  font-family: 'Concert One', cursive;
  font-size: 19px;
  margin-bottom: 15px;
}
.weather_head_column span{
  font-size: 19px;
  margin-right: 5px;
}
.head_weather{
  display: flex;
  justify-content: space-between;
}

/*real time clock CSS stles*/
 #real_time_clock{
   display: flex;
   justify-content: flex-end;
   padding: 10px 10px;
   font-size: 22px;
   font-family: 'Concert One', cursive;
 }